<header class="page-header">
  А ми точно станемо програмістами?))))
  <nav class="main-nav">
    <ul class="main-nav__list">
      <li class="main-nav__item">
        <a href="./index.html">Студия</a>
      </li>
      <li class="main-nav__item">
        <a href="./index.html">Портфолио</a>
      </li>
      <li class="main-nav__item">
        <a href="./index.html">Контакты</a>
      </li>
    </ul>
  </nav>
  <div class="contacts">
    <ul>
      <li class="contacts-item">adress</li>
      <li class="contacts-item">phone</li>
      <li class="contacts-item">e-mail</li>
    </ul>
  </div>
</header>
